body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5 ,h6, p {
  color: #4a4a4a;
}

main {
  padding: 0 30px;
}

.font-primary {
  font-size: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.font-secondary {
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
